In [3]:
import sqlite3
import pandas as pd

# with sqlite3.connect('ipeds.db') as conn:
#     print("Connection successful!")
#     cur = conn.cursor()
#     # cur.execute("""
#     #             select name 
#     #             from sqlite_master 
#     #             where type='table'
#     #             """)
#     # tables = cur.fetchall()
#     # for item in tables:
#     #     print(item)

#     cur.execute("""
#                 select *
#                 from ipeds_raw_tuition
#                 """)
#     data = cur.fetchall()
#     tuition_raw_df = pd.DataFrame(data)

### KPIs
- Average Tuition (core metric)
- Average Total Cost of Attendance (Most Important)
- Most Expensive vs Most Affordable Institution


This dashboard analyzes tuition and cost of attendance across U.S. higher education institutions using IPEDS data to identify affordability trends, institutional cost differences, and regional variation.

In [ ]:
sql_tuition = """
              select *
              from ipeds_raw_tuition
              """

sql_directory = """
              select *
              from ipeds_raw_tuition
              """

with sqlite3.connect("../ipeds.db") as con:
    df_raw_tuition = pd.read_sql(sql_tuition,con)
    df_raw_directory = pd.read_sql(sql_directory,con)

In [14]:
df_raw_tuition

,unitid,year,fips,level_of_study,tuition_type,tuition_fees_ft,tuition_ft,fees_ft,credit_hour_charge_pt,tuition_published,fees_published,tuition_fees_published,tuition_pub_pct_increase,fees_pub_pct_increase,ingested_at_utc
0,100654,2021,1,1,2,10024.0,8610.0,1414.0,287.0,8610.0,1414.0,10024.0,NaN,NaN,2026-02-11T08:35:04
1,100654,2021,1,1,3,10024.0,8610.0,1414.0,287.0,8610.0,1414.0,10024.0,NaN,NaN,2026-02-11T08:35:04
2,100654,2021,1,1,4,18634.0,17220.0,1414.0,574.0,17220.0,1414.0,18634.0,NaN,NaN,2026-02-11T08:35:04
3,100654,2021,1,2,2,11542.0,10128.0,1414.0,422.0,NaN,NaN,NaN,NaN,NaN,2026-02-11T08:35:04
4,100654,2021,1,2,3,11542.0,10128.0,1414.0,422.0,NaN,NaN,NaN,NaN,NaN,2026-02-11T08:35:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,209490,2021,41,1,3,21998.0,14760.0,7238.0,410.0,NaN,NaN,NaN,NaN,NaN,2026-02-11T08:35:04
9996,209490,2021,41,1,4,34274.0,27036.0,7238.0,751.0,NaN,NaN,NaN,NaN,NaN,2026-02-11T08:35:04
9997,209490,2021,41,2,2,28460.0,21222.0,7238.0,760.0,NaN,NaN,NaN,NaN,NaN,2026-02-11T08:35:04
9998,209490,2021,41,2,3,28460.0,21222.0,7238.0,760.0,NaN,NaN,NaN,NaN,NaN,2026-02-11T08:35:04
9999,209490,2021,41,2,4,28460.0,21222.0,7238.0,760.0,NaN,NaN,NaN,NaN,NaN,2026-02-11T08:35:04

In [7]:
import pandas as pd
import requests
from io import BytesIO

url = "https://www2.census.gov/programs-surveys/popest/geographies/2021/all-geocodes-v2021.xlsx"

df = pd.read_excel(url,engine="openpyxl",skiprows=4)

In [6]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Summary Level,State Code (FIPS),County Code (FIPS),County Subdivision Code (FIPS),Place Code (FIPS),Consolidtated City Code (FIPS),Area Name (including legal/statistical area de...
1,010,00,000,00000,00000,00000,United States
2,040,01,000,00000,00000,00000,Alabama
3,050,01,001,00000,00000,00000,Autauga County
4,050,01,003,00000,00000,00000,Baldwin County
...,...,...,...,...,...,...,...
43829,050,72,145,00000,00000,00000,Vega Baja Municipio
43830,050,72,147,00000,00000,00000,Vieques Municipio
43831,050,72,149,00000,00000,00000,Villalba Municipio
43832,050,72,151,00000,00000,00000,Yabucoa Municipio
43833,050,72,153,00000,00000,00000,Yauco Municipio