In [26]:
import sqlite3
import pandas as pd

sql_table_names = """
              SELECT name 
              FROM sqlite_master 
              WHERE type='table'
              """

sql_tuition = """
              select *
              from ipeds_raw_tuition
              """

sql_directory = """
              select *
              from ipeds_raw_tuition
              """
sql_cips = """
               select *
               from ipeds_raw_fips_file
"""

sql = "drop table ipeds_raw_cips_file"

with sqlite3.connect("../ipeds.db") as con:
    df_tables = pd.read_sql(sql_table_names,con)
    df_raw_tuition = pd.read_sql(sql_tuition,con)
    df_raw_directory = pd.read_sql(sql_directory,con)
    df_raw_fips = pd.read_sql(sql_cips,con)

df_tables

                  name
0    ipeds_raw_tuition
1  ipeds_raw_directory
2  ipeds_raw_fips_file

In [ ]:
df_raw_tuition.to_csv('tuition.csv')
df_raw_directory.to_csv('directory.csv')
df_raw_fips.to_csv('cips.csv')

In [63]:
df_raw_tuition.columns

Index(['unitid', 'year', 'fips', 'level_of_study', 'tuition_type',
       'tuition_fees_ft', 'tuition_ft', 'fees_ft', 'credit_hour_charge_pt',
       'tuition_published', 'fees_published', 'tuition_fees_published',
       'tuition_pub_pct_increase', 'fees_pub_pct_increase', 'ingested_at_utc'],
      dtype='object')

In [57]:
fips_df_rename_dict = {
    "Summary Level":"Summary Level",
    "State Code (FIPS)":"State FIPS",
    "County Code (FIPS)":"County FIPS",
    "County Subdivision Code (FIPS)":"County Subdivision FIPS",
    "Place Code (FIPS)": "Place FIPS",
    "Consolidtated City Code (FIPS)": "Consolidtated City FIPS",
    "Area Name (including legal/statistical area description)": "Area Name",
    "ingested_at_utc":"ingested_at_utc"
}


df_raw_fips = df_raw_fips.rename(columns=fips_df_rename_dict)

In [ ]:
state_fips = df_raw_fips[(df_raw_fips['County FIPS'] == 0) & \
                        (df_raw_fips['Place FIPS'] == 0) & \
                        (df_raw_fips['Consolidtated City FIPS'] == 0)][['State FIPS','Area Name']]

### KPIs
- Average Tuition (core metric)
- Average Total Cost of Attendance (Most Important)
- Most Expensive vs Most Affordable Institution


This dashboard analyzes tuition and cost of attendance across U.S. higher education institutions using IPEDS data to identify affordability trends, institutional cost differences, and regional variation.